@model AddNewFileViewModel

    <form asp-action="AddNewFile" asp-controller="Files" method="post" enctype="multipart/form-data">
        <p>
            <label>Файл</label>
            <input type="file" asp-for="Files" multiple />
        </p>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </form>