@model EditTariffViewModel

@{
    ViewBag.Title = "Редактирование пользователя";
}
    <form asp-controller="Tariffs" asp-action="Edit" method="post">
        <div asp-validation-summary="All"></div>
        <div>            
            <input type="hidden" asp-for="Id" />
        </div>
        <div>
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="Discount">Скидка</label>
            <input type="number" asp-for="Discount" />
        </div>
        <div>
            <label asp-for="ExecutorPays">Платит исполнитель</label>
            <input type="number" asp-for="ExecutorPays" />
        </div>
        <div>
            <label asp-for="CustomerPays">Платит заказчик</label>
            <input type="number" asp-for="CustomerPays" />
        </div>
        <div>
            <input type="submit" value="Сохранить" />
        </div>
    </form>