<div class="nav-item dropdown text-center">
    <a class="nav-link dropdown-toggle" asp-controller="Home" asp-action="Index" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Администрирование
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-controller="Roles" asp-action="Index">Роли</a>
        <a class="dropdown-item" asp-controller="Users" asp-action="Index">Пользователи</a>
        <a class="dropdown-item" asp-controller="Orders" asp-action="Index">Список заказов</a>
    </div>
</div>