<div class="nav-item dropdown text-center">
    <a class="nav-link dropdown-toggle" asp-controller="Home" asp-action="Index" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Заказы(Заказчик)
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Создать заказ</a>
        <a class="dropdown-item" href="#">Мои заказы</a>
    </div>
</div>